@model iCare.Presentation.MVC.Models.CuidadorViewModel


@using (Html.BeginForm("NovoCuidador", "Cuidador", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Novo Cuidador</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @*@Html.LabelFor(model => model.nomeCuidador, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.nomeCuidador, new { htmlAttributes = new { @class = "form-control" , @placeholder= "Seu Nome"} })
                @Html.ValidationMessageFor(model => model.nomeCuidador, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.enderecoCuidador, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.enderecoCuidador, new { htmlAttributes = new { @class = "form-control", @placeholder = "Endereço Completo" } })
                @Html.ValidationMessageFor(model => model.enderecoCuidador, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.dddCuidador, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.dddCuidador, new { htmlAttributes = new { @class = "form-control", @placeholder = "DDD" } })
                @Html.ValidationMessageFor(model => model.dddCuidador, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.telefoneCuidador, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.telefoneCuidador, new { htmlAttributes = new { @class = "form-control", @placeholder = "Telefone" } })
                @Html.ValidationMessageFor(model => model.telefoneCuidador, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.possuiReferencia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.possuiReferencia)
                    @Html.ValidationMessageFor(model => model.possuiReferencia, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.descRestricoes, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.descRestricoes, new {  @class = "form-control", rows= "3", placeholder = "Descreva suas restrições" })
                @Html.ValidationMessageFor(model => model.descRestricoes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
